@{
    ViewBag.Title = "About";
}

<style>
    p {
        text-align: justify;
        line-height: 25px;
    }
</style>
<div class="testimonials-area">
    <div class="testi-inner area-padding" style="padding: 50px 0px 5px">
        @*<img src="~/img/calid-images/Services.png" style="height:250px;width:100%" />*@

    </div>
</div>
<div id="about" class="about-area area-padding" style="padding: 50px 0px 50px;" >
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="section-headline text-center">
                    <h2>About Us</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- single-well start-->
            @*<div class="col-md-5 col-sm-6 col-xs-12">
                <div class="well-left">
                    <div class="single-well">
                        <a href="#">
                            <img src="~/img/calid-images/About-01.jpg" style="width:100%;height:300px;" />
                        </a>
                    </div>
                </div>
            </div>*@
            <!-- single-well end-->
            <div class="col-md-12 col-sm-6 col-xs-12">
                <div class="well-middle">
                    <div class="single-well">

                        <p>
                            Calid Technologies has a strong foundation, with a massive collective experience of over 40 years. We bring a robust team and hands-on expertise in Technology and IT Infrastructure.
                        </p>
                        <p>
                            A purchaser who had to go through the grind of selecting a technology and flagging the purchase of the same, A technology convincer to design the right kind of technology and push the value of the technology, A technology seller who had to be sensitive of competition at hand both in terms of features and pricing but satiated both the purchaser and the technology designer and A technology enabler who put to use the first three rounds of technology with his unmatched deployment skills round off the team at Calid Technologies.<br />
                            Our team at Calid Tech is fully equipped to make business scale up at ease without much hassle of technical hindrances. The Calid Tech team knows what it takes to build, deploy and manage technology. We are committed to making the process an easy and smooth one.
                        </p>
                    </div>
                </div>
            </div>
            <!-- End col-->
        </div>
        <div style="margin-top:50px;"></div>
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="col-md-8 col-sm-6 col-xs-12">
                        <div class="well-middle">
                            <div class="single-well">

                                <p>
                                    Srinivas brings with him 15+ years of experience in the IT Infrastructure domain including Project Management and IT Operations Management. Predominantly he has worked in the BFSI sector majorly spending a decade long association with Edelweiss Financial Services, holding critical positions and delivering optimal IT solutions to various businesses. Having great business acumen & diverse technology background spanning across Networks, Security, Collaboration etc., Srinivas has been instrumental in spearheading multifaceted business IT initiatives. With a Bachelors Degree in Engineering backed with major technical certifications Srinivas is known to be the expert, the one-stop shop for all IT Infra solutions.
                                </p>

                            </div>
                        </div>
                    </div>
                    <!-- single-well start-->
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="well-left">
                            <div class="single-well">
                                <a href="#">
                                    <img src="~/img/calid-images/Srinivas-Rao-2.jpg"  />
                                </a>
                                <div style="margin-top:15px;"></div>
                                <h4 style="font-size:20px;text-align:left">SRINIVAS RAO</h4>
                            </div>
                        </div>
                    </div>
                    <!-- single-well end-->
                  
                </div>
            </div>
               
          
            <!-- End col-->
        </div>
        <div style="margin-top:30px;"></div>
        <div class="row">
            <!-- single-well start-->
            <div class="panel panel-default">
                @*<div class="panel-heading">ABHIJEET GHOSH</div>*@
                <div class="panel-body">
                    
                    <!-- single-well end-->
                    <div class="col-md-8 col-sm-6 col-xs-12">
                        <div class="well-middle">
                            <div class="single-well">

                                <p>
                                    Abhijeet is a seasoned techno-commercial thought leader with profound experience in leading global businesses while evangelising and establishing markets from customer education to multi-million dollar annual revenue. He loves being hands on with technology, an outdoor sports enthusiast and is quite a trencherman.
                                    <br />    Education: Yes, Morally and Socially educated.
                                    <br />  Learning: Holds Bachelors degree in Electronics and Communications.
                                </p>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="well-left">
                            <div class="single-well">
                                <a href="#">
                                    <img src="~/img/calid-images/Abhijeet-Ghosh-1.jpg" />
                                </a>
                                <div style="margin-top:15px;"></div>
                                <h4 style="font-size:20px;">ABHIJEET GHOSH</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          
            <!-- End col-->
        </div>
        <div style="margin-top:30px;"></div>
        <div class="row">
            <div class="panel panel-default">

                <div class="panel-body">
                    <div class="col-md-8 col-sm-6 col-xs-12">
                        <div class="well-middle">
                            <div class="single-well">

                                <p>
                                    Debankur has over a decade and a half experience in technology infrastructure design, development, deployment and training in Enterprise Secure Wireless and Information Security space at large.
                                </p>
                                <p>
                                    Prior to starting with Calid, he was involved with AirTight Networks (currently taken over by Arista Networks) for just over 12 years and was instrumental in building the brand value of the company across India and also in parts of Middle East and Africa - warranting the Arista wireless become a go to solution for many of the large conglomerates and BFSI in the region. His contributions enabled a 2 times YoY growth for the last 3 years of operation in India
                                </p>
                                <p>
                                    He revels in understanding the needs of the end user to build a solution around it, ideate, debate and finally deliver diligently. He has a keen knack of picking up details and loves to encounter new products and solutions in a bid to stay relevant as a technology enabler.
                                    <br />  Debankur has a bachelors degree in Engineering from Pune University
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- single-well start-->
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="well-left">
                            <div class="single-well">
                                <a href="#">
                                    <img src="~/img/calid-images/Debankur-Basu-3.jpg"/>
                                </a>
                                <div style="margin-top:15px;"></div>
                                <h4 style="font-size:20px;">DEBANKUR BASU</h4>
                            </div>
                        </div>
                    </div>
                    <!-- single-well end-->
                </div>
            </div>
           
            <!-- End col-->
        </div>

    </div>
</div>