@{
    ViewBag.Title = "Contact";
}
<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>

<div class="testimonials-area">
    <div class="testi-inner area-padding" style="padding: 70px 0px 5px">
        <div class="col-md-12">
            <!-- Start Map -->
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3767.6715835107675!2d72.83540251490327!3d19.20954148701145!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7b6cfbb5c4299%3A0xec59b24dc8fab2c7!2sLeelaraj+-+B+CHSL!5e0!3m2!1sen!2sin!4v1554532794339!5m2!1sen!2sin" height="380" frameborder="0" style="border:0;width:100%" allowfullscreen></iframe>
            <!-- End Map -->
        </div>
    </div>
</div>
<br />
<div id="contact" class="contact-area">
    <div class="contact-inner area-padding">
        @if (ViewData["Success"] != null)
        {
            <div class="alert alert-success fade in" id="success">
                <button class="close" data-dismiss="alert">
                    ×
                </button>
                <i class="fa-fw fa fa-check"></i>
                <strong style="font-size:18px;font-weight:700;">Success!</strong><p style="font-size:18px;font-weight:700;"> @ViewData["Success"]</p>
            </div>
        }
        <div class="container ">
            <div class="row">
                <div style="margin-top:20px;"></div>

                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="section-headline text-center" style="margin-top:30px;">
                        <h2>Contact us</h2>
                    </div>

                </div>
            </div>

            <div class="row">

                <!-- Start Google Map -->
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="contact-icon text-center">
                        <div class="single-icon">
                            <i class="fa fa-map-marker"></i>
                            <p>
                                @*<h5 style="margin-bottom:-10px;">Calid Tech</h5><br>*@
                                <span>
                                    Plat No. 52, Leela Raj B Co-op. Housing Soc. Ltd. <br />
                                    Ghokhale Road, Dahanukar Wadi,<br />
                                    Kandivali West, Mumbai-400067
                                </span>
                            </p>
                        </div>
                    </div>
                    <div class="contact-icon text-center">
                        <div class="single-icon">
                            <i class="fas fa-envelope"></i>
                            <p>
                                <a href="mailto:info@calidtech.com"> info@calidtech.com</a>

                            </p>
                        </div>
                    </div>
                </div>
                <!-- End Google Map -->
                <!-- Start  contact -->
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @using (Html.BeginForm("Contact", "Home", FormMethod.Post))
                    {

                        <div class="form contact-form">

                            <form action="ProcessRequest.cshtml" method="post" role="form" class="contactForm">
                                <div class="form-group">
                                    <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" required="" />
                                    <div class="validation"></div>
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" required="" />
                                    <div class="validation"></div>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                                    <div class="validation"></div>
                                </div>
                                <div class="form-group">
                                    <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                                    <div class="validation"></div>
                                </div>
                                <div class="text-center">

                                    <button type="submit">Send Message</button>
                                </div>
                            </form>
                        </div>
                    }
                </div>
                <!-- End Left contact -->
            </div>


        </div>
    </div>
</div>
<script>
    jQuery(document).ready(function ($) {

        $("#Success").delay(5000).fadeOut(1000); // change 5000 to number of seconds in milliseconds
    });
</script>
