<!-- Start Service area -->
<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
<style>
    .single-services > h4 {
        color: #fff;
        font-size: 18px;
        font-weight: 500;
    }
    .single-services > p {
        color: #fff;
    }
    .services-icon{
        color:#fff;
    }

    .container-content {
        position: relative;
        max-width: 100%;
        margin: 0 auto;
    }

        .container-content img {
            vertical-align: middle;
        }

    .container-content .content {
        position: absolute;
        bottom: 0;
        background: rgb(0, 0, 0); /* Fallback color */
        background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
        color: #f1f1f1;
        width: 100%;
        padding: 20px;
    }
    .wellcome-area {
        background: rgba(248, 248, 248, 0.8) url("../img/calid-images/consultancy-services.jpg");
        background-size: cover;
        background-position: center top;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    .services-area {
        background: rgba(248, 248, 248, 0.8) url("../img/calid-images/consultancy-services.jpg");
        background-size: cover;
        background-position: center top;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    .test-overly {
        background: rgba(0, 0, 0, 0.80);
        position: absolute;
        width: 100%;
        height: 100%;
        background-size: cover;
    }
    .well-bg {
        position: relative;
    }
    .section-headline h2::after {
        border: 1px solid #fff;
        bottom: -20px;
        content: "";
        left: 0;
        margin: 0 auto;
        position: absolute;
        right: 0;
        width: 40%;
    }
</style>
<div class="testimonials-area">
    <div class="testi-inner area-padding" style="padding: 70px 0px 5px">
        @*<img src="~/img/calid-images/Services.png" style="height:250px;width:100%" />*@

    </div>
</div>

<!-- End Service area -->


<div class="wellcome-area">
    <div class="well-bg">
        <div class="test-overly"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div style="margin-top:40px;"></div>
                    <div class="section-headline services-head text-center">
                        <h2 style="color:#fff">Our Services</h2>
                    </div>
                </div>
            </div>
            <div class="row text-center">
                <div class="services-contents">

                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="about-move">
                            <div class="services-details">
                                <div class="single-services">
                                    <a class="services-icon">
                                        <span class="glyphicon glyphicon-lock"></span>
                                     
                                    </a>
                                    <h4>Network Operation Center-<br />Security Operation Center (NOC/ SOC) </h4>
                                    <p>
                                        Maintaining uptimes of your critical IT Infrastructures
                                    </p>
                                </div>
                            </div>
                            <!-- end about-details -->
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <!-- end col-md-4 -->
                        <div class=" about-move">
                            <div class="services-details">
                                <div class="single-services">
                                    <a class="services-icon">
                                        <i class="fas fa-wallet"></i>
                                   </a>
                                    <h4>Data Center</h4>
                                    <br />

                                    <p>
                                        Design, Orchestrate and Elevate Data Center Operations
                                    </p>
                                </div>
                            </div>
                            <!-- end about-details -->
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <!-- end col-md-4 -->
                        <div class=" about-move">
                            <div class="services-details">
                                <div class="single-services">
                                    <a class="services-icon">
                                       
                                        <i class='fas fa-broadcast-tower'></i>
                                    </a>
                                    <h4>High-Frequency Trading- <br />Platforms and network optimizing  </h4>
                                    <p>
                                        Setting up / optimising infrastructure for High-frequency Trading
                                    </p>
                                </div>
                            </div>
                            <!-- end about-details -->
                        </div>
                    </div>

                </div>
            </div>
            <div class="row text-center">
                <div class="services-contents">
                    <!-- Start Left services -->
                    <!-- End Left services -->
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <!-- end col-md-4 -->
                        <div class=" about-move">
                            <div class="services-details">
                                <div class="single-services">
                                    <a class="services-icon">
                                        <i class="fa fa-bar-chart"></i>
                                    </a>
                                    <h4>DevOps</h4>

                                    <p>
                                        Bringing Development and Operations together
                                    </p>
                                </div>
                            </div>
                            <!-- end about-details -->
                        </div>
                    </div>
                    <!-- End Left services -->
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <!-- end col-md-4 -->
                        <div class=" about-move">
                            <div class="services-details">
                                <div class="single-services">
                                    <a class="services-icon">
                                        <i class="fas fa-chart-line"></i>
                                    </a>
                                    <h4>IoT</h4>

                                    <p>
                                        Leveraging IoT to bring in ease and automation in business operations
                                    </p>
                                </div>
                            </div>
                            <!-- end about-details -->
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <!-- end col-md-4 -->
                        <div class=" about-move">
                            <div class="services-details">
                                <div class="single-services">
                                    <a class="services-icon">
                                        <i class="fas fa-fingerprint"></i>
                                    </a>
                                    <h4> IDAM </h4>
                                    <p>
                                        Enforcing policy framework to ensure appropriate access to resources
                                    </p>
                                </div>
                            </div>
                            <!-- end about-details -->
                        </div>
                    </div>
                </div>
            </div>
            <div style="margin-bottom:40px;"></div>
        </div>
    </div>
</div>