<!-- Start Service area -->
<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>

<style>
    p {
        text-align: justify;
        color: #fff;
    }

    h4 {
        font-weight: 500 !important;
        color: #fff;
    }

    ul li {
        color: #fff
    }

    .test-overly {
        background: rgba(0, 0, 0, 0.80);
        position: absolute;
        width: 100%;
        height: 100%;
        background-size: cover;
    }

    .single-services > h4 {
        color: #fff;
        font-size: 18px;
        font-weight: 500;
    }

    .single-services > p {
        color: #fff;
    }

    .services-icon {
        color: #fff;
    }

    .faq-area {
        /*background: rgba(248, 248, 248, 0.8) url("../img/calid-images/technology.jpg");*/
        background: rgba(0, 0, 0, 0.80) url("../img/calid-images/technology.jpg");
        background-size: cover;
        background-position: center top;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    .test-overly {
        background: rgba(0, 0, 0, 0.80);
        position: absolute;
        width: 100%;
        height: 100%;
        background-size: cover;
    }

    .well-bg {
        position: relative;
    }

    .wellcome-area {
        background: rgba(248, 248, 248, 0.8) url("../img/calid-images/technology.jpg");
        background-size: cover;
        background-position: center top;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    .section-headline h2::after {
        border: 1px solid #fff;
        bottom: -20px;
        content: "";
        left: 0;
        margin: 0 auto;
        position: absolute;
        right: 0;
        width: 40%;
    }

    .panel-default > .panel-heading {
        background-color: rgba(255, 255, 255, 0.05);
        border: medium;
        color: #444;
    }

    .panel-default {
        border-color: rgba(255, 255, 255, 0.05);
    }

    .panel {
        margin-bottom: 20px;
        background-color: rgba(255, 255, 255, 0.05);
        border: 1px solid transparent;
        border-radius: 4px;
        -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
        box-shadow: 0 1px 1px rgba(0,0,0,.05);
    }

    .faq-details h4.check-title a {
        color: #fff;
        display: block;
        font-weight: 700;
        letter-spacing: 2px;
        margin-left: 40px;
        padding: 6px 10px;
        text-decoration: none;
    }

    .faq-details a span.acc-icons::before {
        color: #fff;
        content: "";
        font-family: fontawesome;
        font-size: 24px;
        height: 40px;
        left: -51px;
        line-height: 39px;
        position: absolute;
        text-align: center;
        top: -10px;
        width: 42px;
    }

    .btn:hover {
        background: rgba(255, 255, 255, 0.10);
        color: #fff;
    }

    .btn-default {
        color: #fff;
        background-color: rgba(255, 255, 255, 0.02);
        border-color: rgba(255, 255, 255, 0.02);
    }

        .btn-default:focus {
            color: #fff;
            background-color: rgba(255, 255, 255, 0.10);
            border-color: #8c8c8c;
        }
</style>
<div class="testimonials-area">
    <div class="testi-inner area-padding" style="padding: 70px 0px 5px">
    </div>
</div>

<!-- Faq area start -->
<div class="faq-area area-padding" style="padding: 40px 0px 50px !important;">
    <div class="well-bg">
        <div class="test-overly"></div>
        <div style="margin-top:-40px;"></div>
        <div class="container">

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div style="margin-top:40px;"></div>
                    <div class="section-headline services-head text-center">
                        <h2 style="color:#fff">Technology</h2>
                    </div>
                </div>
            </div>
            <br />
            <br />

            <div class="row">
                <div class="col-md-12 col-sm-6 col-xs-12">
                    <div class="faq-details">
                        <div class="panel-group" id="accordion">
                            <!-- Panel Default -->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="check-title">
                                        <a data-toggle="collapse" class="active" data-parent="#accordion" href="#check1">
                                            <span class="acc-icons"></span><i class="fa fa-wifi"></i> Wired & Wireless Infrastructure
                                        </a>
                                    </h4>
                                </div>
                                <div id="check1" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        <p>
                                            Holistic approach to network design and implementation of the wired network infrastructure for any size and nature of business is our forte. The phases can be broadly classified into
                                        </p>

                                        <ul>
                                            <li> Network Infrastructure Planning</li>
                                            <li> Designing</li>
                                            <li>Implementation</li>
                                            <li>Testing and Commissioning</li>

                                        </ul>
                                        @*<button class="btn btn-default btn-md" data-toggle="collapse" data-target="#demo" style="margin-left:28px;">Read More...</button>*@

                                        <a class="toggle-text-button btn btn-default btn-md">Read More</a>

                                        <div id="demo" class="toggle-text">
                                            <p>
                                                Immaculate RF planning, spectrum analysis of the intended wireless deployment is always the first step. Calid excels in typical
                                            </p>
                                            <ul>
                                                <li>
                                                    Wireless Infra planning
                                                </li>
                                                <li>
                                                    Designing against RF obstructions
                                                </li>
                                                <li>Capacity based planning approach</li>
                                                <li>Application usage based planning approach</li>
                                                <li>Reduction in RF interference</li>
                                                <li>Implementation</li>
                                                <li>Testing and Commissioning</li>
                                            </ul>
                                        </div>
                                        <br />
                                        <div class="row">
                                            <div style="padding:10px;"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Panel Default -->
                            <!-- Panel Default -->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="check-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#check2">
                                            <span class="acc-icons"></span><i class='fas fa-play-circle'></i> Audio Video
                                        </a>
                                    </h4>
                                </div>
                                <div id="check2" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p>
                                            Collaboration being the way forward in effective communication, we can help build state of the art AV infrastructure. Our expertise are in
                                        </p>
                                        <ul>
                                            <li> Boardroom setup</li>
                                            <li> Auditorium setup</li>
                                            <li> Streaming technology</li>
                                            <li> Audio and Video Conferencing Setup</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- End Panel Default -->
                            <!-- Panel Default -->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="check-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#check3">
                                            <span class="acc-icons"></span><span class="glyphicon glyphicon-lock"></span> Financial Anti-Fraud
                                        </a>
                                    </h4>
                                </div>
                                <div id="check3" class="panel-collapse collapse ">
                                    <div class="panel-body">
                                        <p>
                                            The most pressing national threat emanating from institutions alike is the crime of Money Laundering and Terrorist Financing. The techniques used is deemed mostly as undetectable due to the complexity of the techniques used.<br />
                                            Anti Money Laundering Technology or AML thus has made it easier for regulators, countries have an stranglehold and an easy access to the miscreants.
                                        </p>
                                        <p>
                                            There are certain affiliated institutions across the world who deploy the brightest of minds to develop such techniques to ensure financial security. Calid is working in the same behest to ensure paramount security with the use of AI and ML.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!-- End Panel Default -->
                            <!-- Panel Default -->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="check-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#check4">
                                            <span class="acc-icons"></span><i class="fa fa-globe"></i> Deception Technology
                                        </a>
                                    </h4>
                                </div>
                                <div id="check4" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p>
                                            Being reactive is a thing of past, act like a hacker and lure them to your decoys, once honey trapped monitor their behaviour to understand and seal your corporate network.<br />
                                            Companies day in are getting smarter to not only pro-actively break the backbone of hackers but now to get their DNA and make the game interesting by a simple chess check-mate. Calid proudly partners few game changers in the market who are bringing about this revolution.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!-- End Panel Default -->
                        </div>
                    </div>
                </div>


                <div style="margin-bottom:-50px;"></div>
                <br />
                <br />
                <br />
            </div>

            @*<br />
                <hr />
                <br />*@
            <div class="row">


            </div>
            <div style="padding:15px;"></div>
            <br />
            @*<hr />*@
            <br />


        </div>
        <div style="margin-bottom:-50px;"></div>
    </div>
</div>
<!-- End Faq Area -->



<style>
    .toggle-text {
        display: none;
    }
</style>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.25/js/uikit-icons.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.25/js/uikit.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.25/css/uikit.min.css" rel="stylesheet" />

<script>
    // Add click event dynamically
    $(document).on("click", ".toggle-text-button", function () {

        // Check if text is more or less
        if ($(this).text() == "Read More") {

            // Change link text
            $(this).text("Read Less");

            // Travel up DOM tree to parent, then find any children with CLASS .toggle-text and slide down
            $(this).parent().children(".toggle-text").slideDown();

        } else {


            // Change link text
            $(this).text("Read More");

            // Travel up DOM tree to parent, then find any children with CLASS .toggle-text and slide up
            $(this).parent().children(".toggle-text").slideUp();

        }

    });
</script>